.button {
    -fx-text-fill: blue;
}


#pane{
	-fx-background-image: url("pixel_background.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 1455 540;
	-fx-background-position: center center;
}

Text { 
 -fx-font-smoothing-type: lcd;
 -fx-fill: white;
 -fx-font-size: 15pt;
}
